#hamburger {
    display: block;
}
#container-hamburger {
    display: flex;
    height: var(--inaltime-meniu);
    min-width: 5%;
    width: 5%;
    flex-direction: column;
    justify-content: space-around;
}
.linie-hamburger {
    border: 1.75px solid white;
}
@for $i from 1 through 3 {
    #container-hamburger > :nth-child(#{$i}) {
        animation: aparitie_hamburger 1s forwards,
            animatie_linie 2s forwards calc(1s + calc(#{$i}s * 2 / 10));
    }
}
.meniu {
    background-color: var(--culoare2);
}
ul.meniu {
    display: none;
    position: absolute;
    width: 100%;
    font-size: 1rem;
}
.meniu li:hover {
    box-shadow: 0px 0px 15px 1px var(--culoare-umbra) inset;
    transition: box-shadow 0.5s linear;
}
#ch-menu:checked + ul.meniu {
    display: block;
    z-index: 2;
    position: relative;
    transform-origin: top left;
    animation: aparitie_meniu_p 1s linear 1 forwards;

    > li > {
        div,
        a {
            z-index: 2;
            position: relative;
            transform-origin: 50% 50%;
            animation-name: aparitie_meniu_p_btn;
            animation-iteration-count: 1;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}
nav ul.meniu {
    li {
        width: 100%;
    }
    > li ul {
        position: absolute;
        width: 100% !important;
        z-index: 200;
        transform: scale(1, 1) !important;
        opacity: 1 !important;
    }
}
#ch-menu:checked + ul.meniu > li ul > * {
    position: relative;
    z-index: 200;
}
nav ul.meniu > li:hover > ul {
    z-index: 200;
    animation: none;
}
@keyframes aparitie_meniu_p {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes aparitie_meniu_p_btn {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes aparitie_hamburger {
    0% {
        border: 1.75px solid black;
        transform: rotate(45deg);
        opacity: 0;
    }
    50% {
        border: 1.75px solid grey;
        transform: rotate(-45deg);
        opacity: 0.5;
    }
    100% {
        border: 1.75px solid white;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes animatie_linie {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.hidden-on-sm {
    display: none;
}
