<!DOCTYPE html>
<!-- Comentariu
-->
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <title>Laptopia.ro - Explorare continuă, performanță impecabilă</title>
        <meta
            name="keywords"
            content="laptop, laptopuri, leptop, magazin de laptopuri, laptopuri online, laptopuri ieftine, laptop copii, notebook, ultrabook, macbook, laptopia, gaming, macos, windows, acer, apple, asus, dell, hp, lenovo, msi, transport la domiciliu, plata ramburs, plata card, romania"
        />
        <meta
            name="description"
            content="Adaptează-ți stilul de viață digital cu selecția noastră exclusivă de laptopuri!"
        />
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <div id="grid-pagina">
                <section id="misiunea-noastra">
                    <h2>MISIUNEA NOASTRA</h2>
                    <p style="margin-top: 30px; text-align: justify">
                        La LAPTOPIA.ro, ne-am angajat să vă oferim mai mult
                        decât un simplu magazin online de laptopuri. Misiunea
                        noastră este să vă aducem mai aproape de tehnologia de
                        vârf, să vă deschidem ușa către inovație și performanță,
                        transformând fiecare achiziție într-o experiență
                        captivantă. Fiecare laptop pe care îl găsiți pe site-ul
                        nostru este o invitație către viitorul tehnologic, unde
                        viziunea noastră este să îmbinăm armonios performanța de
                        neegalat cu designul elegant și inovația de ultimă
                        generație. Vă invităm să descoperiți lumea laptopurilor
                        de top, să vă alăturați comunității noastre și să
                        începeți călătoria către excelență tehnologică. Bine ați
                        venit în universul LAPTOPIA.ro!
                    </p>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>
