<footer>
	<div id="footer">
		<a href="https://google.com">Google</a><br />
		<a href="./resurse/imagini/laptopStack.jpg" download>Descarcabil</a><br />
		<!-- <a href="#" title="mergi sus" id="link-top"> Înapoi </a> -->
		<a href="#" title="mergi sus" id="link-top">
			<div id="triunghi"></div>
		</a>
		<address>
			<!-- ori in iframe ori link normal -->
			<a href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Facultatea%20de%20Matematica%20si%20Informatica,%20Strada%20Academiei%20nr.14+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" target="ifr-map">Strada Tehnologiei, nr. 4, București, sector 6, România</a>
		</address>
		<iframe name="ifr-map" frameborder="0"></iframe>
		<br />
		<i class="fa-solid fa-envelope"></i><a href="mailto:contact@laptopia.ro"> E-mail</a><br />
		<i class="fa-solid fa-phone fa-shake"></i><a href="tel:+40712345678"> Telefon</a><br />
		<i class="fa-brands fa-square-whatsapp"></i><a href="https://wa.me/+40712345678"> Whatsapp</a><br />
		<p>
			<small>Copyright <time datetime="2024-04-03">4 Mar 2024</time> &copy;
				Laptopia.ro</small>
		</p>

		<div id="banner"><b>Acesta este un proiect scolar!</b><br><button class="btn btn-primary" id="ok_cookies">Accepta cookies</button></div>
		<p id="watermark">Banu<br />Constantin-Adrian</p>
	</div>
</footer>