<% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
<li>
	<div><i class="bi bi-gear-fill hidden-on-sm"></i> ADMIN</div>
	<ul class="submeniu">
		<li><a href="/useri">USERI</a></li>
		<li><a href="/grafice">GRAFICE</a></li>
		<li><a href="/comenzi">COMENZI</a></li>
	</ul>
</li>
<% } %>