<% if(locals.utilizator) { %>
<li>
	<div><i class="bi bi-person-square hidden-on-sm"></i> <%- locals.utilizator.username.toUpperCase() %></div>
	<ul id="submeniu-user" class="submeniu">
		<li><a href="/profil">PROFIL</a></li>
		<li><a href="/logout">LOGOUT</a></li>
	</ul>
</li>
<% }  %>